* {
    margin: 0;
 }
 
 body {
    background: #00A8E8;
 }
 
 .wrapper {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    width: 40vw;
    margin: 10rem auto;
 }
 
 #slider {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 
 #slider input[type=radio] {
    display: none;
 }
 
 label {
    cursor:pointer;
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 
 #slides {
    overflow: hidden;
 }
 
 .inner {
    display: flex;
    transition: 500ms;
 }
 
 .slide-content {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 img {
    width: 40vw;
    height: 31.25rem;  
 }
 
 p {
    margin-top: 1rem;
    text-align: start;
    font-family: monospace;
    font-size: 1.1rem;
 }
 
.text {
    width: 50%;
    display: inline-block;
    overflow: hidden;
}

.text .inner {
    width: 400%;
}

.text-content {
    width: 100%;
}
 
 #slide1:checked ~ #slides .inner, #slide1:checked ~ .text .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner, #slide2:checked ~ .text .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner, #slide3:checked ~ .text .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner, #slide4:checked ~ .text .inner {
    margin-left: -300%;
 }
 
 #bullets {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
 }
 span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius:100%;
    background: #ccc;
    text-align: center;
    
 }
 #slide1:checked ~ #bullets label:nth-child(1) span,
 #slide2:checked ~ #bullets label:nth-child(2) span,
 #slide3:checked ~ #bullets label:nth-child(3) span,
 #slide4:checked ~ #bullets label:nth-child(4) span {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    .wrapper {
       width: 80vw;
       margin: 10rem auto;
    }

    .text {
        width: 100%;
        order: 1;
    }
 
    img {
        width: 80vw;
        height: 15.625rem;
    }

    #slider {
        justify-content: center;
    }
    
    span {
        width: 0.8rem;
        height: 0.8rem;
    }

    label {
        width: 1.5rem;
        height: 1.5rem; 
    }
 }